<div class="navbar">
    <a href="/"><img src="img/logo_background_remove.png"  class="logo" alt=""></a>
    <ul class="wow fadeInDown" data-wow-delay="0.1s">
      <!-- <li><a href="#">Home</a></li> -->
      <li><a href="/">Home</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/event">Events</a></li>
      <li><a href="/contact">Contact us</a></li>
      <li>
        <form action="https://www.paypal.com/donate" method="post" target="_top">
          <input type="hidden" name="hosted_button_id" value="NER4634DQMS8J" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_NG/i/scr/pixel.gif" width="1" height="1" />
          </form>                   
      </li>
      <img src="./img/flag.jpg" width="30px" alt="">
    </ul>
    <div class="menu-btn"  onclick="myFunction(this)">
      <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
</div>