<div class="navbar">
    <a href="/"><img src="img/logo_background_remove.png"  class="logo" alt=""></a>
    <ul class="wow fadeInDown" data-wow-delay="0.1s">
      <!-- <li><a href="#">Home</a></li> -->
      <li><a href="/">Home</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/event">Events</a></li>
      <li><a href="/contact">Contact us</a></li>
      <li><a href="#">Donate</a></li>
      <img src="./img/flag.jpg" width="30px" alt="">
    </ul>
    <div class="menu-btn"  onclick="myFunction(this)">
      <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
</div>