<input type="checkbox" id="sidebar-toggle">
<div class="sidebar">
    <div class="sidebar-header">
        <h3 class="brand">
            <span class=""><img src="./img/logo_background_remove.png" width="125px" style="margin-top: 50px;" alt=""></span>
        </h3>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/">
                    <span class="">Home</span>
                </a>
            </li>
            <li>
                <a href="/dashboard">
                    <span class="">Event</span>
                </a>
            </li>
            <li>
                <a href="/membership">
                    <span class="">Membership</span>
                </a>
            </li>
            <li>
                <a href="/baptism">
                    <span class="">Baptism</span>
                </a>
            </li>
        </ul>
    </div>
</div>