<div class="blog-home2 py-5">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h3 class="my-3">Special Events</h3>
        <h6 class="subtitle font-weight-normal">Join us for this Solemn event </h6>
      </div>
      <!-- Column -->
      <!-- Column -->
    </div>
    <div class="row mt-4">
      <!-- Column -->
      <div class="col-md-4 on-hover wow fadeIn"  data-wow-delay="0.1s">
        <div class="card border-0 mb-4">
          <img class="card_img card-img-top" src="./img/praise1.jpg" alt="wrappixel kit">
          <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Feb<span class="d-block">13</span></div>
          <h5 class="font-weight-medium mt-3">Septuagesima Sunday</h5>
          <p class="mt-3">Join us on  the name for the ninth Sunday before Easter, the third before Ash Wednesday and be blessed </p>
          <a href="https://en.wikipedia.org/wiki/Septuagesima" target="_blank" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4 on-hover wow fadeIn"  data-wow-delay="0.2s">
        <div class="card border-0 mb-4">
          <img class="card_img card-img-top" src="./img/ash wednesday.jpg" alt="wrappixel kit">
          <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Mar<span class="d-block">02</span></div>
          <h5 class="font-weight-medium mt-3">Ash Wednesday</h5>
          <p class="mt-3">Our ash wednesday event, don't miss this wonderful event</p>
          <a href="https://en.wikipedia.org/wiki/Ash_Wednesday" target="_blank" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4 on-hover wow fadeIn"  data-wow-delay="0.3s">
        <div class="card border-0 mb-4">
          <img class="card_img card-img-top" src="./img/lent.jpg" alt="wrappixel kit">
          <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Mar<span class="d-block">06</span></div>
          <h5 class="font-weight-medium mt-3">First Sunday in Lent</h5>
          <p class="mt-3"></p>
          <a href="https://en.wikipedia.org/wiki/Quadragesima_Sunday" target="_blank" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
        </div>
      </div>

      <div class="col-md-4 on-hover wow fadeIn"  data-wow-delay="0.4s">
        <div class="card border-0 mb-4">
          <img class="card_img card-img-top" src="./img/passion.jpg" alt="wrappixel kit">
          <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Apr<span class="d-block">03</span></div>
          <h5 class="font-weight-medium mt-3">Passion Sunday</h5>
          <p class="mt-3"></p>
          <a href="https://en.wikipedia.org/wiki/Passion_Sunday" target="_blank" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
        </div>
      </div>


      <div class="col-md-4 on-hover wow fadeIn"  data-wow-delay="0.5s">
        <div class="card border-0 mb-4">
          <img class="card_img card-img-top" src="./img/palm.jpg" alt="wrappixel kit">
          <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Apr<span class="d-block">10</span></div>
          <h5 class="font-weight-medium mt-3">Palm Sunday</h5>
          <p class="mt-3"></p>
          <a href="https://en.wikipedia.org/wiki/Palm_Sunday" target="_blank" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
        </div>
      </div>


      <div class="col-md-4 on-hover wow fadeIn"  data-wow-delay="0.6s">
        <div class="card border-0 mb-4">
          <img class="card_img card-img-top" src="./img/good friday.jpg" alt="wrappixel kit">
          <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Apr<span class="d-block">15</span></div>
          <h5 class="font-weight-medium mt-3">Good friday</h5>
          <p class="mt-3"></p>
          <a href="https://en.wikipedia.org/wiki/Good_Friday" target="_blank" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
        </div>
      </div>
      
    </div>
  </div>
</div>
  <!-- End-->
