<div class="container">
  <h3 style="text-align: center; margin-top: 5%;">Our Team</h3>
  <div class="row text-center">
    <!-- Team item -->
    <div class="col-lg-6 mb-3 wow fadeIn">
      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./img/team_imgcopy.jpg" alt="" width="300" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">The Venerable Dr. Gideon A. Uzomechina(Father Gideon)</h5><span class="small text-uppercase text-muted">The Rector, Archdeacon of New Jersey, and Diocesean director of Missions</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item"><a style="color: #AC7F34;" href="https://www.facebook.com/anglicanchurchofthemessiah/" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a style="color: #AC7F34;" href="https://twitter.com/AnglicanChurch6?t=I2RpF63kqoZLB7x5uyz01Q&s=09" class="social-link"><i class="fa fa-twitter"></i></a></li>
          <!-- <li class="list-inline-item"><a style="color: #AC7F34;" href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a style="color: #AC7F34;" href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li> -->
        </ul>
      </div>
    </div><!-- End -->

    <!-- Team item -->
    <div class="col-lg-6  mb-3">
      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./img/team_img3copy.jpg" alt="" width="300" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">Pastor Collin A. I. Baptiste</h5><span class="small text-uppercase text-muted">Youth Pastor and Senior Warden</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item"><a style="color: #AC7F34;" href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a style="color: #AC7F34;" href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a style="color: #AC7F34;" href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a style="color: #AC7F34;" href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div><!-- End -->

  </div>
</div>
