        
        <div class="lightbox-gallery">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Gallery</h2>
                    <p class="text-center">Find the lightbox gallery for your project. click on any image to open gallary</p>
                </div>
                <div class="row photos">
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="" data-lightbox="photos"><img class="img-fluid" src="./img/ash wednesday.jpg"></a></div>
                </div>
            </div>
        </div>
    <!-- <p style="font-size: 30px; text-align: center; margin: 0 30% 0 30%;">There are no event to display</p> -->
</body>
</html>