<!--Opinion-->
<div class="timelin">
    <section class="timeline_area section_padding_130">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-lg-6">
                  <!-- Section Heading-->
                  <div class="section_heading text-center">
                    <h3 class="my-3">Weekly Events</h3>
                    <h6  style="color:#8d97ad"class="subtitle font-weight-normal">We invite you to join us each sunaday for bible based study, heart felt praise, song filled worship and true Christian fellowship</h6>
                      <div class="line"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <!-- Timeline Area-->
                  <div class="apland-timeline-area">
                      <!-- Single Timeline Content-->
                      <div class="single-timeline-area">
                          <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                              <p>SUNDAY</p>
                          </div>
                          <div class="row">
                              <div class="col-12 col-md-6 col-lg-4">
                                  <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                      <div class="timeline-icon"></div>
                                      <div class="timeline-text">
                                          <h6>Sunday mass</h6>
                                          <p>11:00 am (New York Time) In person; Oversea members on zoom.</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-lg-4">
                                  <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                      <div class="timeline-icon"></div>
                                      <div class="timeline-text">
                                          <h6>Catching them young for Christ, Children ministry</h6>
                                          <p>10:00am (New York Time)</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Single Timeline Content-->
                      <div class="single-timeline-area">
                          <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                              <p>WEDNESDAY</p>
                          </div>
                          <div class="row">
                              <div class="col-12 col-md-6 col-lg-4">
                                  <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                      <div class="timeline-icon"></div>
                                      <div class="timeline-text">
                                          <h6>Bible Study on zoom</h6>
                                          <p>6pm (New York Time)</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Single Timeline Content-->
                      <div class="single-timeline-area">
                          <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                              <p>FRIDAY</p>
                          </div>
                          <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-text">
                                        <h6>FRIDAY Pastoral Counseling</h6>
                                        <p>6pm (New York Time)</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </div>