  <%- include('./partials/header.ejs') %>
    <title>Landing page</title>
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
  <section id="banner">
      <div class="banner">
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <h1>ABOUT US</h1>
        </div>
      </div>
  </section>

  <section class="our_church">
    <div class="meet_out_lead">
      <div class="container-fluid">
        <h2 class="worship_text">WORSHIP WITH US FOR ADVANCEMENT</h2>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5>ABOUT OUR <b>CHURCH</b></h5>
            <p>Started in 2018, we bring a new vibrancy to the traditional tenets of the anglican faith. We invite you to join us each Sunday for Bible based study, heartfelt praise, song filled worship, and true Christian fellowship. Our Anglican Youth Ministry provides adolescents aged 5-12 with the resources and mentorship they need to develop a personal, lasting relationship with Jesus Christ.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="meet_our_leads">
    <div class="meet_out_lead">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5>MEET OUR LEADER</h5>
            <h1>PRIEST</h1>
            <p>The Venerable Dr. Gideon Uzomechina is a spiritual man whose love for the Lord Jesus Christ and his mission to the world has no boundaries. He is an ordained pastor of the Anglican Communion (Anglo-Catholic Church) since 2002 following his seminary training. Being very passionate in his pastoral responsibilities and actively engaged in the community, Gideon brings a message of Christ’s love and inclusiveness to his members and to the needy and unreached. Many who have heard him deliver a sermon for the first time, concur that he has been blessed with the gifts of preaching and teaching the Word and Sacrament. His spiritual knowledge was enhanced by studying the life, time, and ministry of Jesus Christ in the land of Palestine in ecumenical and interfaith settings at St. Georges College and Hebrew University of Jerusalem, Mount Scopus, Jerusalem, Israel in 2008. His studies in Israel also included many fact-finding missions to places such as Egypt, Jordan, Syria, Golan Heights and Istanbul, Turkey. Archdeacon Gideon is a trained conflict management and resolution specialist.Following a tumultuous and trying period of his life, God led him alongside Pastor Colin Baptiste and Pastor Harry Watson Jr. into formation and planting of the Anglican church of the Messiah (Anglican Communion), Plainfield, New Jersey where he is the Archdeacon and Vicar.Gideon is a Fellow of Christian Theologians and Philosophers of Africa (FCTP), Africa Theological Education Network, and he holds a Doctor of Ministry Degree in Theology and Spirituality, Master of Arts Degree in Pastoral Counseling from Liberty University in Virginia. Additionally, he has a Bachelor of Education in Guidance and Counseling, a Diploma in Religious Studies, and a Diploma in Theology from the University of Jos and Bishop Crowther College of Theology, Nigeria. He also completed Clinical Pastoral Education (CPE) program at Robert Wood Johnson University Hospital, New Brunswick; and works in the Prison and Police departments as chaplain. Although Father Gideon spends numerous hours with pastoral work, his high energy level allows him to pursue his hobbies which include listening to the news/gospel music, working out, reading, and socializing with family and friends.</p>
            <p><i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i></p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img class="rounded-circle" src="./img/priest1.jpg"  width="90%" height="90%" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="meet_our_leads">
    <div class="meet_out_lead">
      <div class="container-fluid">
        <div class="row theology">
          <div class="col">
            <h5>OUR THEOLOGY</h5>
            <p>The Anglican Church of the Messiah wholeheartedly believes and confesses Jesus Christ to be the way, the Truth, and the Life. No one comes to the Father, but by Him. </p>
            <ul>
              <li><h5>We confess:</h5></li>
              <li> The canonical books of the Old and New Testaments to be the inspired Word of God, containing all things necessary for salvation. and to be the final authority and unchangeable standard for Christian faith and life</li>
              <li>  The Baptism and the Supper of the Lord to be Sacraments ordained by Christ Himself in the Gospel, and thus to be ministered with unfailing use of His words of institution and of the elements ordained by Him;</li>
              <li>  The godly historic Episcopate as an inherent part of the apostolic faith and practice, and therefore as integral to the fullness and unity of the Body of Christ:</li>
              <li>  The historic faith of the undivided church as declared in the three Catholic Creeds: the Apostles', the Nicene, and the Athanasian.</li>
            </ul><br>
            
            <ul>
              <li><h5> We affirm:</h5></li>
              <li> The teaching of the first four Councils and the Christological clarifications of the fifth, sixth and seventh Councils, in so far as they are agreeable to the Holy Scriptures.</li>
            </ul><br>
                
            <ul>
              <li><h5> We receive:</h5></li>
              <li> The Book of Common Prayer as set forth by the Church of England in 1662, together with the Ordinal attached to the same, as a standard for Anglican doctrine and discipline, and, with the Books which preceded it, as the standard for the Anglican tradition of worship: The Thirty-Nine Articles of Religion of 1562, taken in their literal and grammatical sense, as expressing the Anglican response to certain doctrinal issues controverted at that time, and as expressing the fundamental principles of authentic Anglican belief</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section class="faq">
      <h3 class="text-center mb-4 pb-2 fw-bold">FAQ</h3>
      <p class="text-center mb-5">
        Find the answers for the most frequently asked questions below
      </p>
      
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3 "><i class="fa fa-question" aria-colspan="" aria-hidden="true"></i> A simple
            question?</h5>
          <p>
            <strong><u>Absolutely!</u></strong> We work with top payment companies which guarantees
            your
            safety and
            security. All billing information is stored on our payment processing partner.
          </p>
        </div>
      
        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fa fa-question" aria-colspan="" aria-hidden="true"></i> A question
            that
            is longer then the previous one?</h5>
          <p>
            <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
            your
            account. Once the subscription is
            cancelled, you will not be charged next month.
          </p>
        </div>
      
        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fa fa-question" aria-colspan="" aria-hidden="true"></i> A question
            that
            is longer then the previous one?</h5>
          <p>
            <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
            your
            account. Once the subscription is
            cancelled, you will not be charged next month.
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fa fa-question" aria-colspan="" aria-hidden="true"></i> A question
            that
            is longer then the previous one?</h5>
          <p>
            <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
            your
            account. Once the subscription is
            cancelled, you will not be charged next month.
          </p>
        </div>
      
        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fa fa-question" aria-colspan="" aria-hidden="true"></i> A question
            that
            is longer then the previous one?</h5>
          <p>
            <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
            your
            account. Once the subscription is
            cancelled, you will not be charged next month.
          </p>
        </div>
      
        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fa fa-question" aria-colspan="" aria-hidden="true"></i> A question
            that
            is longer then the previous one?</h5>
          <p>
            <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
            your
            account. Once the subscription is
            cancelled, you will not be charged next month.
          </p>
        </div>
      </div>
    </section>

    <!--OUR TEAM-->
    <%- include('./partials/team.ejs') %>  
    <%- include('./partials/footer.ejs') %> 