<%- include('./partials/header.ejs') %>
<title><%= title %></title>
<link rel="stylesheet" href="./css/dashboard.css">
</head>
<body>
<%- include('./partials/navboard.ejs') %>

<div style="margin: 0 0 0 10%;" class="table-responsive text-nowrap">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Child Name</th>
        <th scope="col">Child date of Birth</th>
        <th scope="col">Place of birth</th>
        <th scope="col">Father's Full Name</th>
        <th scope="col">Mother's Full Name</th>
        <th scope="col">Address</th>
        <th scope="col">Telephone</th>
        <th scope="col">Father's Occupation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>