<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="./css/contact.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title><%= title %></title>
  </head>
<body>
  <section id="banner">
      <div class="banner">
        <%- include('./partials/nav.ejs') %>
          <div class="content">
              <h1>Contact us</h1>
          </div>
      </div>
  </section>
   

    <!-- Section: Contact v.3 -->
<section class="contact-section my-5">
    <div class="container">
      <div class="card">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-lg-4">
            <div class="card-body contact-body  contact text-center h-100 white-text">
              <h3 class="my-4 pb-2">Hello there</h3>
              <p>For more enquires you can contact us with the following medium.You can fill up the form and our team will get back to you within 24 hours</p>
              <ul class="text-lg-left list-unstyled ml-4">
                <li>
                  <p><i class="fa fa-map-marker pr-2"></i>501 Central Avenue Plainfield, New Jersey 07060, USA</p>
                </li>
                <li>
                  <p><i class="fa fa-phone pr-2"></i>631.782 4107 or 908.548.8699</p>
                </li>
                <li>
                  <p><i class="fa fa-envelope pr-2"></i>anglicanmessiah2018@gmail.com</p>
                </li>
              </ul>
              <hr class="hr-light my-4">
              <ul class="list-inline text-center list-unstyled">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/anglicanchurchofthemessiah/" class="p-2 fa-lg tw-ic">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a  href="https://twitter.com/AnglicanChurch6?t=I2RpF63kqoZLB7x5uyz01Q&s=09" class="p-2 fa-lg ins-ic">
                    <i class="fa fa-facebook"> </i>
                  </a>
                </li>
              </ul>
    
            </div>
    
          </div>
    
          <!-- Grid column -->
          <div class="col-lg-8">
    
            <div class="card-body form">
    
              <!-- Header -->
              <h3 class="mt-4">Send a message</h3>
    
              <!-- Grid row -->
              <div class="row">
    
                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <label for="form-contact-name" class="">Your name</label>
                    <input type="text" id="form-contact-name" class="form-control">
                  </div>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <label for="form-contact-email" class="">Your email</label>
                    <input type="text" id="form-contact-email" class="form-control">
                  </div>
                </div>
                <!-- Grid column -->
    
              </div>
              <!-- Grid row -->
    
              <!-- Grid row -->
              <div class="row">
    
                <!-- Grid column -->
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <label for="form-contact-phone" class="">Your phone</label>
                    <input type="number" id="form-contact-phone" class="form-control">
                  </div>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <!-- Grid column -->
    
              </div>
              <!-- Grid row -->
    
              <!-- Grid row -->
              <div class="row">
    
                <!-- Grid column -->
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <label for="form-contact-phone" class="">Your message</label>
                    <textarea id="form-contact-message" class="form-control md-textarea" rows="3"></textarea>
                    <div class="form-group d-flex justify-content-end"> <button class="button">Send Message</button></div>
                  </div>
                </div>
                <!-- Grid column -->
    
              </div>
              <!-- Grid row -->
    
            </div>
    
          </div>
    
        </div>
    
      </div>
    </div>
  <!-- Form with header -->

</section>
<!-- Section: Contact v.3 -->

  <!--Google map-->
  <section class="contact_map">
    <div class="contact_tag">
      <div class="container">
        <div class="row">
          <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.721592108486!2d-74.42392788499419!3d40.61396585154485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b9f6c9c75c97%3A0x76077a356323e6c!2s501%20Central%20Ave%2C%20Plainfield%2C%20NJ%2007060%2C%20USA!5e0!3m2!1sen!2sng!4v1646387960341!5m2!1sen!2sng" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  
          </div>
        </div>
      </div>
    </div>
  </section>

<!--Google Maps-->
   
<%- include('./partials/footer.ejs') %>