<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload Image</h1>
    <form action="/uploadphoto" enctype="multipart/form-data" method="POST">
        <label for="">First Name</label>
        <input type="text" name="fname" placeholder="input first name">
        <label for="">Last Name</label>
        <input type="text" name="lname" placeholder="input last name">
        <label for="image">Upload image</label>
        <input type="file" name="image">
        <button type="submit"> Save </button>
    </form>
</body>
</html>