<%- include('./partials/header.ejs') %>
<title><%= title %></title>
<link rel="stylesheet" href="./css/dashboard.css">
</head>
<body>
<%- include('./partials/navboard.ejs') %>


<section>
<div style="margin: 0 0 0 12%;" class="table-responsive text-nowrap">
  <!--Table-->
  <table class="table table-striped">

    <!--Table head-->
    <thead>
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Last Name</th>
        <th>Middle Name</th>
        <th>Address</th>
        <th>Marital Status</th>
        <th>Sex</th>
        <th>Home Address</th>
        <th>City/Town</th>
        <th>Country</th>
        <th>Zip code</th>
        <th>Email</th>
        <th>Occupation</th>
        <th>Date of birth</th>
        <th>Gender</th>
        <th>Baptized</th>
        <th>Confirmed</th>
        <th>Children Name</th>
        <th>Children Date of Birth</th>
        <th>Gender</th>
        <th>Baptized</th>
        <th>Confirmed</th>
        <th>Ministries interested</th>
        <th>Former Church or Religion</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <tr>
        <th scope="row">a</th>
        <td>Kate</td>
        <td>Moss</td>
        <td>USA </td>
        <td>New York </td>
        <td>Web Designer </td>
        <td>23</td>
        <td>Kate</td>
        <td>Moss</td>
        <td>USA  </td>
        <td>New York City </td>
        <td>Web Designer</td>
        <td>23</td>
        <td>Kate</td>
        <td>Moss</td>
        <td>USA / The United Kingdom / China / Russia </td>
        <td>New York City </td>
        <td>Web</td>
        <td>23</td>
        <td>Web</td>
        <td>23</td>
        <td>23</td>
        <td>Web </td>
        <td>23</td>
      </tr>
    
    </tbody>
    <!--Table body-->


  </table>
  <!--Table-->
</div>
</section>



</body>
</html>