<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/footer.css">
<title><%= title %></title>
</head>
<body>
  <section id="banner">
    <div class="banner">
      <%- include('./partials/nav.ejs') %>
      <div class="content">
        <h1 class="wow fadeInDown" data-wow-delay="0.2s">THANK YOU FOR CONTACTING US</h1>
        <p class="wow fadeInDown"   data-wow-delay="0.3s">We will get in touch with you</p>
      </div>
      <div class="time_link">
        <p>JOIN US ON SUNDAY AT 11:00 AM  <a href="https://www.facebook.com/anglicanchurchofthemessiah/"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://twitter.com/AnglicanChurch6?t=I2RpF63kqoZLB7x5uyz01Q&s=09"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
      </div>

      <div class="time_btn">
        <a href="/"><button class="button">Home</button></a>
      </div>
    </div>
  </section>