.blog-home2 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    /* font-weight: 300; */
  }
  
  .blog-home2 h1,
  .blog-home2 h2,
  .blog-home2 h3,
  .blog-home2 h4,
  .blog-home2 h5,
  .blog-home2 h6 {
    color: #3e4555;
  }
  
  .blog-home2 .font-weight-medium {
    font-weight: 500;
  }
  
  .blog-home2 .bg-light {
    background-color: #f4f8fa !important;
  }
  
  .blog-home2 .subtitle {
    color: #8d97ad;
    line-height: 24px;
  }
  
  .blog-home2 .text-themecolor {
    color: #316ce8;
  }
  
  .blog-home2 h5 {
    line-height: 22px;
    font-size: 18px;
  }
  
  .blog-home2 a.link {
    color: #3e4555;
  }
  
  .blog-home2 a.link:hover {
    color: #316ce8;
  }
  
  .blog-home2 .on-hover {
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  
  .blog-home2 .on-hover:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
  .blog-home2 .date-pos {
    right: 10px;
    top: 10px;
  }
  
  .blog-home2 .date-pos span {
    font-size: 30px;
    line-height: 30px;
  }
  .blog-home2 .bg-info-gradiant {
      background: #4D0074;
      background: -webkit-linear-gradient(legacy-direction(to right), #4D0074 0%, #4D0074 100%);
      background: -webkit-gradient(linear, left top, right top, from(#4D0074), to(#4D0074));
      background: -webkit-linear-gradient(left, #4D0074 0%, #4D0074 100%);
      background: -o-linear-gradient(left, #4D0074 0%, #4D0074 100%);
      background: linear-gradient(to right, #4D0074 0%, #4D0074 100%);
  }