/* body{
    background-image: url('../img/Building.jpg');
    background-position: center;
    background-size: "cover";
    background-repeat: no-repeat;
    height: 100vh;
} */

section{
    margin: 10px;
}