*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*HEADER*/

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75) ), url('../img/Building.jpg') ;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 7%, rgba(0,0,0,1) 27%, rgba(77,0,116,1) 100%); */
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo{
    /* margin-top: 10px; */
    width: 90px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0  20px;
    position: relative;
} 

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

/*styling the menu button*/
.menu-btn {
    display: none;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
  
  /* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/*Back to navbar styling*/
.navbar ul li::after{
    content:  ' ';
    height:  3px;
    width: 0;
    background: #AC7F34;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border:  2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover  span{
    width: 100%;
}

button:hover{
    border: none;
}

.time_link{
    /* width: 100%; */
    position:absolute;
    top: 90%;
    left: 8%;
    /* transform: translateY(0%); */
    /* text-align: center; */
    color: #fff;
}

.time_link a{
    text-decoration: none;
    color:#fff;
}

.time_link i{
    margin: 0 5px 0 5px;
}

/*MESSAGES SECTION*/
.message,.service,.meet_out_lead{
    margin: 2% 5% 2% 5%;
}

.video_part{
    border-top: 7px solid #AC7F34;
}

/*SERVICES SECTION*/
h5{
    font-weight: normal;
    font-size: 40px;
}

h1{
    font-weight: bold;
    font-size: 80px;
}
/*faq section inside services*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion_bg{
    background-color: #4D0074;
}
.accordion {
    background-color: #4D0074;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* .active, .accordion:hover {
    background-color: #ccc;
  } */
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    outline: none;
}

.accordion:focus{
    outline: none;
}

/*Meet our lead and its button*/
.button {
    border-radius: 4px;
    background-color: #4D0074;
    border: none;
    color: #FFFFFF;
    text-align: center;
    /* font-size: 28px; */
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
/* .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
} */

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover {
    padding-right: 25px;
    background: transparent;
    border: 2px solid #AC7F34;
    color: #AC7F34;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* responsive media query start */
@media (max-width: 994px) {

    .logo{
        width: 150px;
        cursor: pointer;
    }

    .navbar ul{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: -100%;
        background: #4D0074;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
        z-index: 2;
    }
    .navbar ul li:hover::after{
      display: none;
    }
    /*menu-btn*/
    .navbar ul.active{
        top: 0;
    }

    .navbar ul li{
        list-style: none;
        display: block;
        margin: 50px  auto;
        position: relative;
    } 

    .menu-btn{
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: block;
        z-index: 2;
        /* position: absolute;
        top: 20%;
        right: 10%; */
    }
}